body {
    margin: 1rem 0 0 0;
    padding: 0;
    background: lightgray;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    margin: 1rem;
    width: 100%;
    padding: 1rem;
    background: white;
    border: darkkhaki solid 1px;
    border-radius: 0.5rem;
}

button {
    margin: 1rem;
    width: 100%;
    height: 4rem;
    background: grey;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

button:hover {
    background: dimgrey;
}
